<div class="row">
    <div class="col-md-6">
        <ol class="breadcrumb">
            <li data-ng-class="{active: index === (path.length - 1)}" data-ng-repeat="(index, folder) in path">
                <a data-ng-href="#/user/{{idUser}}/folder/{{folder.id_folder}}">
                    {{folder.name}}
                </a>
            </li>
        </ol>
    </div>
    <div class="col-md-6">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="fileUpload">Carica un file qui</label>
                <input type="file" class="form-control" data-ng-disabled="uploadingProgress !== null" id="fileUpload" multiple="multiple" placeholder="Carica un file qui" required="required" data-ng-file-select="uploadFiles($files)">
            </div>
            <button class="btn btn-default" data-ng-click="createFolder()" type="button">
                <span class="fa fa-plus-square"></span>
            </button>
        </form>
    </div>
</div>
<div class="progress" data-ng-if="uploadingProgress !== null">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{uploadingProgress.percent}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="uploadingProgress.style">
        <span class="sr-only">{{uploadingProgress.percent}}%</span>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr data-ng-repeat="folder in folders">
            <td>
                <span class="fa fa-folder"></span>
            </td>
            <td>
                <a data-ng-href="#/user/{{idUser}}/folder/{{folder.id_folder}}">
                    {{folder.name}}
                </a>
            </td>
            <td>

            </td>
            <td>
                <a data-ng-click="deleteFolder(folder)">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
        <tr data-ng-repeat="file in files">
            <td>
                <span class="fa fa-file"></span>
            </td>
            <td>
                <a data-ng-href="/rest/user/{{file.id_user}}/folder/{{file.id_folder}}/file/{{file.id_file}}" target="_blank">
                    {{file.title}}
                </a>
            </td>
            <td>
                {{DateUtils.sqlDateTimeToLocaleFormat(file.upload_date)}}
            </td>
            <td>
                <a data-ng-click="deleteFile(file)">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>